// Include any default variable overrides here (though functions won't be available)
@import "./complement/variables.scss";

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

@import "./pages/index.scss";
@import "./pages/calientes.scss";
@import "./pages/experiencia.scss";
@import "./pages/frios.scss";
@import "./pages/nosotros-y-vos.scss";
@import "./pages/nuestro-cafe.scss";