// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

/* inicio estilos generales */
* {
  margin: 0p;
  padding: 0px;
}
a {
  text-decoration: none;
  color: blak;
}
ul,
ol {
  list-style: none;
}
html {
  font-family: "poppins", sans-serif !important;
  color: white !important;
}
.fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
/* fin estilos generales */
/* inicio estilos index */
header {
  background-image: linear-gradient(
    90deg,
    rgb(175, 71, 6) 0%,
    rgb(253, 167, 29) 30%,
    rgb(203, 90, 5) 100%
  );
  padding: 10px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.navegador {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px 15px;
  a {
    color: white !important;
    font-size: 1rem;
    font-weight: 500;
  }
  li {
    padding-left: 20px;
  }
}
header {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pagina_princial ul li {
  display: block;
}
.cafemesa {
  display: flex;
  flex-direction: row;
  background-image: url(../img/portad_principal.svg);
  background-color: #1d3557;
  padding: 20vw;
  background-size: cover;
  top: 10px;
}
.cafetasa {
  background-color: #1d3557;
  background-image: linear-gradient(
    90deg,
    rgb(175, 71, 6) 0%,
    rgb(253, 167, 29) 30%,
    rgb(203, 90, 5) 100%
  );
  background-position: left;
  padding: 10px;
  padding-top: 5px;
  color: white !important;
  text-align: center;
  &_titulo {
    padding: 10px;
    background-position: center;
    text-align: center;
  }
}
.patisserie {
  background-color: #1d3557;
  background-image: linear-gradient(
    90deg,
    rgb(175, 71, 6) 0%,
    rgb(253, 167, 29) 30%,
    rgb(203, 90, 5) 100%
  );
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
}
.especiales {
  background-image: linear-gradient(
    90deg,
    rgb(175, 71, 6) 0%,
    rgb(253, 167, 29) 30%,
    rgb(203, 90, 5) 100%
  );
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 10px;
  gap: 5px;
  &_texto2 {
    padding: 20px;
    text-align: center;
    gap: 5px;
  }
}
.contacto {
  background-color:white;
  display: flex;
  text-align: center;
  gap: 25px;
}
/* fin estilos index celulares */
/* inicio estilos nosotros y vos celulares */
.texto {
  padding: 2rem;
  text-align: center;
}
form {
  background-color: #006d77;
  display: block;
}
.formulario_vos {
  display: grid;
  grid-template-columns: auto;
  background-color: #006d77;
  padding: 10%;
}
/* fin estilos nosotros y vos celulares */
/* Inicio estilos frios y caliente celulares */
.tabla_calientes {
  background-image: linear-gradient(
    90deg,
    rgb(175, 71, 6) 0%,
    rgb(253, 167, 29) 30%,
    rgb(203, 90, 5) 100%
  );
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.tabla_frios {
  background-image: linear-gradient(
    90deg,
    rgb(175, 71, 6) 0%,
    rgb(253, 167, 29) 30%,
    rgb(203, 90, 5) 100%
  );
  display: grid;
  justify-content: center;
  padding: 20px;
}
.pedidos_frios {
  padding: 10px;
  background-color: #010710;
}
.pedidos_calientes {
  padding: 10px;
  background-color: #010710;
}
/* fin estilos frios y caliente celulares */
/* Inicio experiencia celulares */
.forma_experiencia {
  background-color: #010710;
  width: 100vw;
}
.tienda {
  margin: 5px;
}
.tienda {
  background-image: linear-gradient(
    90deg,
    rgb(175, 71, 6) 0%,
    rgb(253, 167, 29) 30%,
    rgb(203, 90, 5) 100%
  );
}
/* fin experiencia celulares */
@media (min-width: 992px) {
  .fixed {
    bottom: 40px;
    right: 40px;
  }
  header {
    position: fixed;
    width: 100vw;
    height: 55px;
    display: grid;
    grid-template-columns: 200px auto 100px;
    justify-content: space-around;
    align-items: start;
    z-index: 999999999999;
  }
  .navegador {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    gap: 0 20px;
  }
  .cafetasa {
    background-color: #1d3557;
    background-image: linear-gradient(
      90deg,
      rgb(175, 71, 6) 0%,
      rgb(253, 167, 29) 30%,
      rgb(203, 90, 5) 100%
    );
  }
  .cafetasa_titulo {
    background-position: center;
    text-align: center;
  }
  .patisserie {
    background-color: #1d3557;
    background-image: linear-gradient(
      90deg,
      rgb(175, 71, 6) 0%,
      rgb(253, 167, 29) 30%,
      rgb(203, 90, 5) 100%
    );
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 45px;
    padding: 70px 40px;
  }
  .especiales {
    background-image: linear-gradient(
      90deg,
      rgb(175, 71, 6) 0%,
      rgb(253, 167, 29) 30%,
      rgb(203, 90, 5) 100%
    );
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 70px 40px;
    gap: 20px;
  }
  .especiales_texto2 {
    padding-left: 80px;
    text-align: justify;
    gap: 10px;
  }
  .contacto {
    background-color: white;
    display: flex;
    text-align: center;
    gap: 25px;
  }
  /* Fin estilos index */
  /* Inicio nosotros y vos */
  .card{
    padding: 10%;
  }
}
form {
  background-color: #006d77;
  display: block;
}
.formulario_vos {
  display: grid;
  grid-template-columns: auto;
  background-color: #ebeff0;
  padding: 10%;
}
/* Fin estidos nosotros y vos */
/* Inicio estilos frios y calientes */
.tabla_calientes {
  background-image: linear-gradient(
    90deg,
    rgb(175, 71, 6) 0%,
    rgb(253, 167, 29) 30%,
    rgb(203, 90, 5) 100%
  );
  display: grid;
  justify-content: center;
  padding: 70px;
}
.tabla_frios {
  background-image: linear-gradient(
    90deg,
    rgb(175, 71, 6) 0%,
    rgb(253, 167, 29) 30%,
    rgb(203, 90, 5) 100%
  );
  display: grid;
  justify-content: center;
  padding: 70px;
}
.pedidos_frios {
  padding: 30px;
  background-color: #010710;
}
.pedidos_calientes {
  padding: 30px;
  background-color: #010710;
}
/* Fin estilos Frios y calientes */
/* inicio estilos experiencia */
.forma_experiencia {
  padding: 30px;
  background-color: #010710;
}
.tienda {
  margin: 20px;
}
.tienda {
  padding-inline-start: 50px;
  background-image: linear-gradient(
    90deg,
    rgb(175, 71, 6) 0%,
    rgb(253, 167, 29) 30%,
    rgb(203, 90, 5) 100%
  );
}
/* fin estilos experiencia */
/* inicio estilos Nuestro Cafe */
.video2 {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(
    90deg,
    rgb(175, 71, 6) 0%,
    rgb(253, 167, 29) 30%,
    rgb(203, 90, 5) 100%
  );
  padding: 10%;
  gap: 20px;
}
.texto_video2 {
  text-align: justify;
}
/* incion de animacion */
@keyframes auto {
  0%,
  100% {
    transform: translate(-10px, 10px);
  }
  25% {
    transform: translate(25px, -25px);
  }
  50% {
    transform: translate(-25px, 25px);
  }
  65% {
    transform: translate(-15px, -15px);
  }
}
