/* inicio estilos generales */
/* Inicio estilos frios y caliente celulares */
.tabla_calientes {
  background-image: linear-gradient(
    90deg,
    $primary 0%,
    $secondary 30%,
    $danger 100%
  );
  display: grid;
  justify-content: center;
  padding: 50vw;
}
.pedidos_calientes {
  padding: 10px;
  background-color: #010710;
  text-align: justify;
}
/* fin estilos frios y caliente celulares */
/* fin experiencia celulares */
@media (min-width: 992px) {
  /* Inicio estilos frios y calientes */
  .tabla_calientes {
    background-image: linear-gradient(
      90deg,
      $primary 0%,
      $secondary 30%,
      $danger 100%
    );
    display: grid;
    justify-content: center;
    padding: 150px;
  }
  .pedidos_calientes {
    padding: 30px;
    background-color: #010710;
  }
  /* Fin estilos Frios y calientes */
}
