/* inicio estilos nosotros y vos celulares */
.formulario_vos {
  background-image: white;
  background-position: left;
  padding: 20px;
  padding-top: 150px;
  text-align: justify;
  &_titulo {
    padding: 20px;
    background-position: center;
    text-align: center;
  }
}
/* fin estilos nosotros y vos celulares */
/* fin experiencia celulares */
@media (min-width: 992px) {
  /* Inicio nosotros y vos */
  .card {
    padding: 10%;
  }
}
form {
  background-color: gainsboro;
}
/* Fin estidos nosotros y vos */
